*,*::after,*::before{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', Helvetica, sans-serif;
}

body{
background-color: #f4f4f4;
min-height: 100vh;

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.score{
font-size:2rem;
margin-bottom: 2rem;
}

.red{color:red;}


.modal{
max-width: 350px;
height: 200px;
width: 100%;
text-align: center;
border-radius: 15px;
position: fixed;
background-color: #fff;
overflow: hidden;
top: -50%;
transform: translate(-50%,-50%);
z-index: 1100;
transition: top 0.5s ease-in-out;
left: 50%;
}

.modal.active{top: 50%;}

.modal .card{
height: 100%;
display: flex;
flex-flow: column;
align-items: center;
justify-content: center;
}

.modal .card > div:first-child{
margin-bottom: 2rem;
}

.btn{
cursor: pointer;
border: none;
color: #333;
background-color:lightgreen;
padding:.5rem 1rem;
font-weight: 600;
font-size: 1rem;
}

.death__text{
font-size: 1.5rem;
font-weight: 800;
}

.overlay{
height: 100vh;
width: 100vw;
position: fixed;
background-color: rgba(0, 0, 0, 0.3);
z-index: 1000;
top: 0;
left: 0;
display:none;
}

#overlay.active{display: block;}

#canvas{
image-rendering: crisp-edges;
image-rendering: pixelated;
image-rendering: -moz-crisp-edges;
image-rendering: optimizeQuality;
max-width: 100%;
object-fit: contain;
}


.pads{
width:10rem;
margin: 5rem auto 0;
min-height:7.5rem;
display: flex;
position: relative;
display: none;
}


.pads .right-pad,
.pads .left-pad,
.pads .down-pad,
.pads .up-pad{
position: absolute;
cursor: pointer;
}


.pads .right-pad{
right: 0;
top: 0;
width: 0;
height: 0;
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 40px solid #000;
}

.pads .left-pad{
width: 0;
height: 0;
transform: rotate(180deg);
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 40px solid #000;
}

.pads .down-pad{
width: 0;
height: 0;
bottom: 0;
left: calc(50% - 20px);
transform: rotate(90deg);
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 40px solid #000;
}


.pads .up-pad{
width: 0;
height: 0;
transform: rotate(-90deg);
top:-60px;
left: calc(50% - 20px);
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 40px solid #000;
}

@media screen and (max-width:500px) {
    .pads{
    display: flex;
    }
}